.mainContainer {
  display: flex;
  height: 600px;
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px; }

.visualContainer {
  display: flex;
  flex-direction: column;
  width: 65%; }

.cellPhoneContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid blue;
  width: 35%; }

.graphicsContainer {
  box-sizing: border-box;
  padding: 5px;
  height: 45%;
  border-radius: 10px;
  border: 5px solid pink; }

.inventoryContainer {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  height: 10%;
  border-style: solid;
  border-width: 5px;
  border-color: #008000 #228b22;
  background: url(./assets/key.png) 0 no-repeat, url(./assets/spider.png) 40px no-repeat, url(./assets/mariel.png) 90px no-repeat; }

.storyContainer {
  box-sizing: border-box;
  height: 45%;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid red; }

.messageBox {
  height: 65%;
  overflow: auto; }

.message {
  word-wrap: break-word; }

.chatInput {
  height: 35%;
  resize: none; }
