// mainContainer
//   cellPhoneContainer
//     chatMessagesBox
//     chatKeysBox
//       chatKeys
//   graphicsContainer
//   inventoryContainer
//   storyContainer
  @font-face {
    font-family: OregonTrail;
    src: url('./assets/OregonTrail.ttf') format('truetype');
    font-weight: bold;
  }
body{
  font-family: OregonTrail;
}
//parents are maincontainer
//phone container parent of messagebox, chatinput, and sendbutton
//messagebox is a parent to messages
//inventory container will be a parent of divs for items

  .mainContainer{
    display: flex;
    height: 600px;
    width: 900px;
    margin:0 auto;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .visualContainer{
    display:flex;
    flex-direction: column;
    width: 65%;
  }

  .cellPhoneBorder {
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    background: url(./assets/phone.png) 55% 35% no-repeat;

  }

  .cellPhoneContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 35%;
  }

  .graphicsContainer{
    box-sizing: border-box;
    padding: 5px;
    height: 150%;
    border-radius: 10px;
    border: 5px solid pink;
    background: url(./assets/welp-medium.png) -30px 150px no-repeat;
  }
  .inventoryContainer{
    box-sizing: border-box;
    padding: 10px 0 0 10px;
    border-radius: 15px;
    height: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: #008000 #228b22;
    position: relative;
    background: url(./assets/key.png) 0 no-repeat,
    url(./assets/spider.png) 40px no-repeat,
    url(./assets/mariel.png) 90px no-repeat;
  }
  .storyContainer{
    box-sizing: border-box;
    height: 45%;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid red;
  }

  .messageBox{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    overflow: auto;
    margin-left: 59.46%;
    margin-top: 54%;
    height: 403px;
    width: 174%;
    // border: 1px solid red;
  }

  .message{
  word-wrap: break-word;
  width: 100px;
  padding: 2px;
  font-size: 12px;
  white-space: pre-wrap;
  border: 5px solid green;
  }

  .chatInput{
    // border:1px solid blue;
    height: 33px;
    width: 71.5%;
    margin-left: 24.7%;
    margin-bottom: 7%;
    resize: none;
  }

  .sendButton{
    height: 3.5%;
    margin-left: 42%;
  }