@font-face {
  font-family: OregonTrail;
  src: url("./assets/OregonTrail.ttf") format("truetype");
  font-weight: bold; }

body {
  font-family: OregonTrail; }

.mainContainer {
  display: flex;
  height: 600px;
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px; }

.visualContainer {
  display: flex;
  flex-direction: column;
  width: 65%; }

.cellPhoneBorder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 40%;
  background: url(./assets/phone.png) 55% 35% no-repeat; }

.cellPhoneContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 35%; }

.graphicsContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch; }

.graphicsContainer {
  box-sizing: border-box;
  padding: 5px;
  height: 300px;
  background: url(./assets/welp-medium.png) -30px 150px no-repeat;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch; }

.inventoryContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round; }

.inventoryContainer {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  height: 40px;
  position: relative;
  background: url(./assets/key.png) 0 no-repeat, url(./assets/spider.png) 40px no-repeat, url(./assets/mariel.png) 90px no-repeat; }

.storyContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round; }

.storyContainer {
  box-sizing: border-box;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round; }

.messageBox {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  overflow: auto;
  margin-left: 59.46%;
  margin-top: 54%;
  height: 403px;
  width: 174%; }

.message {
  word-wrap: break-word;
  width: 100px;
  padding: 2px;
  font-size: 12px;
  white-space: pre-wrap;
  border: 5px solid green; }

.chatInput {
  height: 33px;
  width: 71.5%;
  margin-left: 24.7%;
  margin-bottom: 7%;
  resize: none; }

.sendButton {
  height: 3.5%;
  margin-left: 42%; }