body {
  font-family: OregonTrail, sans-serif; }

.mainContainer {
  display: grid;
  height: 600px;
  width: 900px;
  margin: 35px;
  box-sizing: border-box;
  border-radius: 10px; }

.cellPhoneContainer {
  display: grid;
  box-sizing: border-box;
  grid-column: 4;
  border-radius: 10px;
  grid-row: 1/6;
  border: 3px solid blue; }

.chatMessagesBox {
  grid-column: 1/4;
  grid-row: 1/4;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid yellow; }

.chatKeysBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2;
  grid-auto-rows: minmax(50px, auto);
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid green; }

.chatKeys {
  display: flex;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  justify-content: center; }

.graphicsContainer {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  grid-column: 1/4;
  grid-row: 1/3;
  border: 5px solid pink; }

.inventoryContainer {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  height: 35%;
  grid-column: 1/4;
  grid-rows: 3/6;
  grid-height: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #008000 #228b22;
  background: url(./assets/key.png) 0 no-repeat, url(./assets/spider.png) 40px no-repeat, url(./assets/mariel.png) 90px no-repeat; }

.storyContainer {
  box-sizing: border-box;
  padding: 10px;
  margin-top: -83px;
  border-radius: 10px;
  grid-column: 1/4;
  grid-row: 4/6;
  border: 5px solid red; }
