// mainContainer
//   cellPhoneContainer
//     chatMessagesBox
//     chatKeysBox
//       chatKeys
//   graphicsContainer
//   inventoryContainer
//   storyContainer
@font-face {
  font-family: OregonTrail;
  src: url('./assets/OregonTrail.ttf') format('truetype');
  font-weight: bold;
}
@keyframes bounce {
  0% {
    top: 0px;
  }
  25% {
    top: 1px;
    background: url(./assets/key.png) 1% no-repeat,
    url(./assets/spider.png) 7% no-repeat,
    url(./assets/voodoo.png) 16% no-repeat,
    url(./assets/wand.png) 21% no-repeat,
    url(./assets/whip-small.png) 28% no-repeat,
    url(./assets/painting-small.png) 35% no-repeat,
    url(./assets/ian-small.png) 42% no-repeat,
    url(./assets/sword-small.png) 51% no-repeat,
    url(./assets/mariel-small.png) 60% no-repeat,
    url(./assets/torch-small.png) 65% no-repeat,
    url(./assets/torch-slant-small.png) 72% 100% no-repeat,
    url(./assets/bat-small.png) 76% no-repeat,
    url(./assets/rat-small.png) 81% no-repeat;
  }
  50% {
    top: 5px;
    background: url(./assets/key.png) 1% no-repeat,
    url(./assets/spider.png) 7% no-repeat,
    url(./assets/voodoo.png) 16% no-repeat,
    url(./assets/wand.png) 21% no-repeat,
    url(./assets/whip-small.png) 28% no-repeat,
    url(./assets/painting-small.png) 35% no-repeat,
    url(./assets/ian-small.png) 42% no-repeat,
    url(./assets/sword-small.png) 51% no-repeat,
    url(./assets/mariel-small.png) 60% no-repeat,
    url(./assets/torch-small.png) 65% no-repeat,
    url(./assets/torch-slant-small.png) 72% 100% no-repeat,
    url(./assets/bat-small.png) 76% no-repeat,
    url(./assets/rat-small.png) 81% no-repeat;
  }
  100% {
    top: 0px;
    background: url(./assets/key.png) 1% no-repeat,
    url(./assets/spider.png) 7% no-repeat,
    url(./assets/voodoo.png) 16% no-repeat,
    url(./assets/wand.png) 21% no-repeat,
    url(./assets/whip-small.png) 28% no-repeat,
    url(./assets/painting-small.png) 35% no-repeat,
    url(./assets/ian-small.png) 42% no-repeat,
    url(./assets/sword-small.png) 51% no-repeat,
    url(./assets/mariel-small.png) 60% no-repeat,
    url(./assets/torch-small.png) 65% no-repeat,
    url(./assets/torch-slant-small.png) 72% 100% no-repeat,
    url(./assets/bat-small.png) 76% no-repeat,
    url(./assets/rat-small.png) 81% no-repeat;
  }
}
@font-face {
    font-family: OregonTrail;
    src: url('./assets/OregonTrail.ttf') format('truetype');
    font-weight: bold;
  }
body {
  font-family: OregonTrail;
}
//parents are maincontainer
//phone container parent of messagebox, chatinput, and sendbutton
//messagebox is a parent to messages
//inventory container will be a parent of divs for items
.mainContainer {
  display: flex;
  height: 600px;
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
}
.visualContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.cellPhoneBorder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 8.2%;
  padding-right: 7.7%;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 40%;
  background: url(./assets/phone.png) 55% 35% no-repeat;
}
.cellPhoneContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
}
.graphicsContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch;
}
.graphicsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  height: 300px;
  // border: 5px solid pink;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch;
  background: url(./assets/background.png) no-repeat;
  background-size: 515px 280px;
}
.mariel {
  position:relative;
  top: 55%;
  left: 30%;
  height: 47%;
  width: 11%;
  // border: 5px solid red;
  background: url(./assets/mariel-medium.png) -50px no-repeat;
  transform: scale(0.9) scaleX(-1);
}
.mariel:hover {
  transform:scale(1) scaleX(-1);
  transition: all 200ms ease-in;
}
.whip {
  position: relative;
  top: 60%;
  left: 8%;
  height: 31%;
  width: 15%;
  // border: 5px solid black;
  background: url(./assets/whip-big.png) -10px no-repeat;
  transform: scale(0.9) scaleX(-1);
}
.whip:hover {
  transform: scale(1) scaleX(-1);
  transition: all 200ms ease-in;
}
.key {
  height: 11%;
  width: 5%;
  // border: 5px solid green;
  background: url(./assets/key.png) -5px no-repeat;
  transform: scale(0.9);
}
.key:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.spider {
  height: 15%;
  width: 10%;
  // border: 5px solid yellow;
  background: url(./assets/spider.png) no-repeat;
  transform: scale(0.9);
}
.spider:hover {
  background: url(./assets/spider2.png) no-repeat;
  transform: scale(1);
  transition: all 200ms ease-in;
}
.voodoo {
  position: relative;

  height: 18%;
  width: 10%;
  // border: 5px solid pink;
  background: url(./assets/voodoo-big.png) 5px -3px no-repeat;
  transform: scale(0.9);
}
.voodoo:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.wand {
  position: relative;
  top: 66%;
  right: 42%;
  height: 13%;
  width: 7%;
  // border: 5px solid blue;
  background: url(./assets/wand-big.png) -15px no-repeat;
  transform: scale(0.9);
}
.wand:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.painting {
  height: 27%;
  width: 13%;
  // border: 5px solid cyan;
  background: url(./assets/painting.png) no-repeat;
  transform: scale(0.9);
}
.painting:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.ian {
  height: 55%;
  width: 12%;
  // border: 5px solid magenta;
  background: url(./assets/ian.png) -50px no-repeat;
  transform: scale(0.9);
}
.ian:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.torch-slant {
  height: 18%;
  width: 7%;
  // border: 5px solid orange;
  background: url(./assets/torch-slant.png) -10px -16px no-repeat;
  transform: scale(0.9);
}
.torch-slant:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.rat {
  height: 17%;
  width: 7%;
  // border: 5px solid purple;
  background: url(./assets/rat-small.png) no-repeat;
  transform: scale(0.9);
}
.rat:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.torch {
  height: 22%;
  width: 8%;
  // border: 5px solid gray;
  background: url(./assets/torch.png) -10px -7px no-repeat;
  transform: scale(0.9);
}
.torch:hover {
  background: url(./assets/torch2.png) -10px -7px no-repeat;
  transform: scale(1);
  transition: all 200ms ease-in;
}
.bat {
  height: 12%;
  width: 10%;
  // border: 5px solid silver;
  background: url(./assets/bat.png) no-repeat;
  transform: scale(0.9);
}
.bat:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.sword {
  position: relative;
  top: 0%;
  right: 5%;
  height: 10%;
  width: 20%;
  // border: 5px solid gold;
  background: url(./assets/sword.png) no-repeat;
  transform: scale(0.9);
}
.sword:hover {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.inventoryContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round;
}
.inventoryContainer {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  height: 40px;
  position: relative;
  animation: bounce 0.8s ease-in-out 0.8s infinite alternate;
  background: url(./assets/key.png) 1% no-repeat,
    url(./assets/spider.png) 7% no-repeat,
    url(./assets/voodoo.png) 16% no-repeat,
    url(./assets/wand.png) 21% no-repeat,
    url(./assets/whip-small.png) 28% no-repeat,
    url(./assets/painting-small.png) 35% no-repeat,
    url(./assets/ian-small.png) 42% 20% no-repeat,
    url(./assets/sword-small.png) 51% no-repeat,
    url(./assets/mariel-small.png) 60% no-repeat,
    url(./assets/torch-small.png) 65% no-repeat,
    url(./assets/torch-slant-small.png) 72% 100% no-repeat,
    url(./assets/bat-small.png) 76% no-repeat,
    url(./assets/rat-small.png) 81% no-repeat;
}
.storyContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round;
}
.storyContainer {
  box-sizing: border-box;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round;
  border: 5px solid red;
}
.messageBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  margin-top: 99.7%;
  height: 403px;
  width: 290%;
  border: 1px solid red;
}
.message {
  word-wrap: break-word;
  width: 100px;
  padding: 2px;
  font-size: 12px;
  white-space: pre-wrap;
  border: 5px solid red;
}
.cellPhoneform {
  display: block;
  margin-top: 0em;
}
.chatInput {
  border: 1px solid blue;
  height: 33px;
  width: 99.7%;
  resize: none;
}
.sendButton {
  height: 3.5%;
  width: 60%;
  margin-left: 20%;
  margin-top: 12%;
}
