@keyframes bounce {
  0% {
    top: 0px; }
  25% {
    top: 1px;
    background: url(./assets/key.png) 1% no-repeat, url(./assets/spider.png) 7% no-repeat, url(./assets/voodoo.png) 16% no-repeat, url(./assets/wand.png) 21% no-repeat, url(./assets/whip-small.png) 28% no-repeat, url(./assets/painting-small.png) 35% no-repeat, url(./assets/ian-small.png) 42% no-repeat, url(./assets/sword-small.png) 51% no-repeat, url(./assets/mariel-small.png) 60% no-repeat, url(./assets/torch-small.png) 65% no-repeat, url(./assets/torch-slant-small.png) 72% 100% no-repeat, url(./assets/bat-small.png) 76% no-repeat, url(./assets/rat-small.png) 81% no-repeat; }
  50% {
    top: 5px;
    background: url(./assets/key.png) 1% no-repeat, url(./assets/spider.png) 7% no-repeat, url(./assets/voodoo.png) 16% no-repeat, url(./assets/wand.png) 21% no-repeat, url(./assets/whip-small.png) 28% no-repeat, url(./assets/painting-small.png) 35% no-repeat, url(./assets/ian-small.png) 42% no-repeat, url(./assets/sword-small.png) 51% no-repeat, url(./assets/mariel-small.png) 60% no-repeat, url(./assets/torch-small.png) 65% no-repeat, url(./assets/torch-slant-small.png) 72% 100% no-repeat, url(./assets/bat-small.png) 76% no-repeat, url(./assets/rat-small.png) 81% no-repeat; }
  100% {
    top: 0px;
    background: url(./assets/key.png) 1% no-repeat, url(./assets/spider.png) 7% no-repeat, url(./assets/voodoo.png) 16% no-repeat, url(./assets/wand.png) 21% no-repeat, url(./assets/whip-small.png) 28% no-repeat, url(./assets/painting-small.png) 35% no-repeat, url(./assets/ian-small.png) 42% no-repeat, url(./assets/sword-small.png) 51% no-repeat, url(./assets/mariel-small.png) 60% no-repeat, url(./assets/torch-small.png) 65% no-repeat, url(./assets/torch-slant-small.png) 72% 100% no-repeat, url(./assets/bat-small.png) 76% no-repeat, url(./assets/rat-small.png) 81% no-repeat; } }

@font-face {
  font-family: OregonTrail;
  src: url("./assets/OregonTrail.ttf") format("truetype");
  font-weight: bold; }

body {
  font-family: OregonTrail; }

.btn {
  font-family: OregonTrail;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; }

.mainContainer {
  display: flex;
  height: 600px;
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px; }

.visualContainer {
  display: flex;
  flex-direction: column;
  width: 65%; }

.cellPhoneBorder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 8.2%;
  padding-right: 7.7%;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 40%;
  background: url(./assets/phone.png) 55% 35% no-repeat; }

.cellPhoneContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%; }

.graphicsContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch; }

.stageOneGraphicsContainerPlayer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  height: 300px;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch;
  background: url(./assets/background.png) no-repeat;
  background-size: 515px 280px; }

.marielPlayer1 {
  position: relative;
  top: 55%;
  left: 30%;
  height: 47%;
  width: 11%;
  background: url(./assets/mariel-medium.png) -50px no-repeat;
  transform: scale(0.9) scaleX(-1); }

.marielPlayer1:hover {
  transform: scale(1) scaleX(-1);
  transition: all 200ms ease-in; }

.whipPlayer1 {
  position: relative;
  top: 60%;
  left: 8%;
  height: 31%;
  width: 15%;
  background: url(./assets/whip-big.png) -10px no-repeat;
  transform: scale(0.9) scaleX(-1); }

.whipPlayer1:hover {
  transform: scale(1) scaleX(-1);
  transition: all 200ms ease-in; }

.keyPlayer1 {
  position: relative;
  top: 48%;
  left: 53%;
  height: 11%;
  width: 5%;
  background: url(./assets/key.png) -5px no-repeat;
  transform: scale(0.9); }

.keyPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.spiderPlayer1 {
  position: relative;
  top: 64%;
  right: 12%;
  height: 15%;
  width: 10%;
  background: url(./assets/spider.png) no-repeat;
  transform: scale(0.9); }

.spiderPlayer1:hover {
  background: url(./assets/spider2.png) no-repeat;
  transform: scale(1);
  transition: all 200ms ease-in; }

.voodooPlayer1 {
  position: relative;
  top: 43%;
  left: 50%;
  height: 18%;
  width: 10%;
  background: url(./assets/voodoo-big.png) 5px -3px no-repeat;
  transform: scale(0.9); }

.voodooPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.wandPlayer1 {
  position: relative;
  top: 65.7%;
  right: 41.5%;
  height: 13%;
  width: 7%;
  background: url(./assets/wand-big.png) -15px no-repeat;
  transform: scale(0.9); }

.wandPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.paintingPlayer1 {
  position: relative;
  top: 5%;
  left: -22%;
  height: 27%;
  width: 13%;
  background: url(./assets/painting.png) no-repeat;
  transform: scale(0.9); }

.paintingPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.ianPlayer1 {
  height: 55%;
  width: 12%;
  background: url(./assets/ian.png) -50px no-repeat;
  transform: scale(0.9); }

.ianPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.torch-slantPlayer1 {
  position: relative;
  top: -30%;
  left: 53%;
  height: 18%;
  width: 7%;
  background: url(./assets/torch-slant.png) -10px -16px no-repeat;
  transform: scale(0.9) scaleX(-1); }

.torch-slantPlayer1:hover {
  transform: scale(1) scaleX(-1);
  transition: all 200ms ease-in; }

.ratPlayer1 {
  position: relative;
  top: 30%;
  height: 17%;
  width: 7%;
  background: url(./assets/rat-small.png) no-repeat;
  transform: scale(0.9); }

.ratPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.torchPlayer1 {
  position: relative;
  top: -25%;
  right: 31%;
  height: 22%;
  width: 8%;
  background: url(./assets/torch.png) -10px -7px no-repeat;
  transform: scale(0.9); }

.torchPlayer1:hover {
  background: url(./assets/torch2.png) -10px -7px no-repeat;
  transform: scale(1);
  transition: all 200ms ease-in; }

.batPlayer1 {
  position: relative;
  top: -20%;
  height: 12%;
  width: 10%;
  background: url(./assets/bat.png) no-repeat;
  transform: scale(0.9); }

.batPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.swordPlayer1 {
  position: relative;
  top: -40%;
  right: -12.5%;
  height: 10%;
  width: 20%;
  background: url(./assets/sword.png) no-repeat;
  transform: scale(0.9); }

.swordPlayer1:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.stageOneGraphicsContainerPlayer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  height: 300px;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch;
  background: url(./assets/background.png) no-repeat;
  background-size: 515px 280px; }

.keyPlayer2 {
  position: relative;
  top: 50%;
  left: 53%;
  height: 11%;
  width: 5%;
  background: url(./assets/key-player2.png) -5px no-repeat;
  transform: scale(0.9); }

.keyPlayer2:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.spiderPlayer2 {
  position: relative;
  top: 64%;
  right: 12%;
  height: 15%;
  width: 10%;
  background: url(./assets/spider-player2.png) no-repeat;
  transform: scale(0.9); }

.spiderPlayer2:hover {
  background: url(./assets/spider2-player2.png) no-repeat;
  transform: scale(1);
  transition: all 200ms ease-in; }

.paintingPlayer2 {
  position: relative;
  top: 5%;
  left: -22%;
  height: 27%;
  width: 13%;
  background: url(./assets/painting-player2.png) no-repeat;
  transform: scale(0.9); }

.paintingPlayer2:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.torch-slantPlayer2 {
  position: relative;
  top: -30%;
  left: 53%;
  height: 18%;
  width: 7%;
  background: url(./assets/torch-slant-player2.png) -10px -16px no-repeat;
  transform: scale(0.9) scaleX(-1); }

.torch-slantPlayer2:hover {
  transform: scale(1) scaleX(-1);
  transition: all 200ms ease-in; }

.ratPlayer2 {
  position: relative;
  top: 30%;
  height: 17%;
  width: 7%;
  background: url(./assets/rat-small-player2.png) no-repeat;
  transform: scale(0.9); }

.ratPlayer2:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.torchPlayer2 {
  position: relative;
  top: -25%;
  right: 31%;
  height: 22%;
  width: 8%;
  background: url(./assets/torch-player2.png) -10px -7px no-repeat;
  transform: scale(0.9); }

.torchPlayer2:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.batPlayer2 {
  position: relative;
  top: -20%;
  height: 12%;
  width: 10%;
  background: url(./assets/bat-player2.png) no-repeat;
  transform: scale(0.9); }

.batPlayer2:hover {
  transform: scale(1);
  transition: all 200ms ease-in; }

.inventoryContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round; }

.inventoryContainer {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  height: 42px;
  position: relative;
  animation: bounce 0.8s ease-in-out 0.8s infinite alternate;
  background: url(./assets/key.png) 1% no-repeat, url(./assets/spider.png) 7% no-repeat, url(./assets/voodoo.png) 16% no-repeat, url(./assets/wand.png) 21% no-repeat, url(./assets/whip-small.png) 28% no-repeat, url(./assets/painting-small.png) 35% no-repeat, url(./assets/ian-small.png) 42% 20% no-repeat, url(./assets/sword-small.png) 51% no-repeat, url(./assets/mariel-small.png) 60% no-repeat, url(./assets/torch-small.png) 65% no-repeat, url(./assets/torch-slant-small.png) 72% 100% no-repeat, url(./assets/bat-small.png) 76% no-repeat, url(./assets/rat-small.png) 81% no-repeat; }

.storyContainerBorder {
  max-height: 100%;
  max-width: 100%;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round; }

.storyContainer {
  box-sizing: border-box;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: round; }

.messageBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  margin-top: 85%;
  height: 403px;
  width: 290%; }

.message {
  word-wrap: break-word;
  font-family: OregonTrail;
  width: 100px;
  padding: 2px;
  font-size: 14px;
  white-space: pre-wrap; }

.cellPhoneform {
  display: block;
  margin-top: 0em; }

.chatInput {
  font-family: OregonTrail;
  height: 30px;
  width: 99.7%;
  resize: none;
  color: black;
  background-color: #cec9cc; }

.sendButton {
  position: relative;
  width: 60%;
  left: 21%;
  top: 17px;
  height: 32px; }

.usernameMainContainer {
  display: flex;
  justify-content: center;
  height: 900px;
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box; }

.usernameFormBorder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 8.2%;
  padding-right: 7.7%;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 57%; }

.usernameFormContainer {
  position: relative;
  top: 3%;
  align-self: center;
  background: url(./assets/phone.png) 57% 2% no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 73%;
  width: 100%; }

.userTitle {
  position: relative;
  top: -6%;
  align-self: center; }

.userMariel {
  position: relative;
  top: -13%;
  left: 10%;
  height: 20%;
  width: 13%;
  transform: scale(0.8);
  background: url(./assets/mariel-medium.png) 50% no-repeat; }

.userIan {
  position: relative;
  top: -37%;
  left: 27%;
  height: 23%;
  width: 14%;
  background: url(./assets/ian.png) 50% no-repeat; }

.userReyn {
  position: relative;
  top: -50%;
  left: 48%; }

.userChatInput {
  position: relative;
  height: 5%;
  top: -45%;
  left: 21.5%;
  width: 55.8%;
  text-align: center; }

.userSendButton {
  position: relative;
  top: -43%;
  left: 36%;
  width: 25%; }

.userListMainContainer {
  display: flex;
  justify-content: center;
  height: 900px;
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box; }

.userListBorder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 8.2%;
  padding-right: 7.7%;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 57%; }

.userListContainer {
  position: relative;
  top: 3%;
  align-self: center;
  background: url(./assets/phone.png) 57% 2% no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 73%;
  width: 100%; }

.userListTitle {
  position: relative;
  top: -6%;
  align-self: center; }

.userListMariel {
  position: relative;
  top: 8.5%;
  right: 48.3%;
  height: 20%;
  width: 13%;
  transform: scale(0.8);
  background: url(./assets/mariel-medium.png) 50% no-repeat; }

.userListIan {
  position: relative;
  top: 5%;
  right: 55%;
  height: 23%;
  width: 14%;
  background: url(./assets/ian.png) 50% no-repeat; }

.userListReyn {
  position: relative;
  top: 15%;
  right: 56%; }

.currentUser {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  height: 10%;
  width: 57%;
  top: 17.5%;
  left: 21.2%;
  padding: 5px 0 0 7px;
  box-sizing: border-box; }

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  position: relative;
  height: 30%;
  width: 57%;
  top: 17.5%;
  left: 21.2%;
  padding: 5px 0 0 7px;
  box-sizing: border-box; }

.listOfUsers {
  border: 1px solid red;
  height: 10%; }

.inviteUser {
  position: relative;
  box-sizing: border-box;
  top: 17.5%;
  left: 28%;
  width: 42%; }

.inviteForm {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 24.3%;
  width: 58.5%;
  top: 17.5%;
  left: 20%;
  padding-left: 5px;
  box-sizing: border-box; }

.inviteText {
  position: relative;
  padding-left: 5px;
  box-sizing: border-box; }

.acceptUser {
  position: relative;
  top: -10%;
  left: -3%;
  height: 20%;
  width: 45%;
  box-sizing: border-box; }

.declineUser {
  position: relative;
  top: -10%;
  height: 20%;
  width: 45%;
  box-sizing: border-box; }

.winLoseContainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 300px;
  width: 100%;
  background-color: yellow;
  border: 10px solid transparent;
  border-image-source: url(./assets/border.png);
  border-image-slice: 20 22;
  border-image-repeat: stretch; }

.endText {
  position: relative;
  top: -15%;
  left: 20%;
  height: 40%;
  width: 100%;
  padding: 10px;
  color: red;
  font-size: 50px; }

.playAgainContainer {
  position: relative;
  top: -29%;
  height: 105px;
  width: 100%; }

.quit {
  position: relative;
  left: 40%;
  height: 40%; }

.playAgain {
  position: relative;
  left: 20%;
  height: 40%; }

.replay {
  padding: 5px; }

.replayAccept {
  position: relative;
  top: -20px;
  left: 30%; }

.replayDecline {
  position: relative;
  top: -20px;
  left: 35%; }
