  .mainContainer {
    display: grid;
    height: 600px;
    width: 900px;
    margin: 35px;
    border: 1px solid black;
  }
  .chatInput {
    grid-row: 6/7;
    height:84%;
    width:98%;
    resize: none;
  }

  .messageBox {
    display: grid;
    word-wrap: break-word;
    grid-template-columns: repeat(auto-fit, minmax(200px));
    grid-row: 1/6;
  }

  .sendButton {
    margin-top: -12px;
    grid-row: 7/7;
  }

  .cellPhoneContainer {
    display: grid;
    grid-column: 4;
    grid-row: 1/6;
    border: 1px solid black;
  }
  .chatKeysBox {
    display: grid;
    grid-column: 2;
    grid-row: 4/6;
    grid-template-columns: 50px 50px 50px;
    border: 1px solid black;
  }

  .chatKeys {
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
  }

  .graphicsContainer {
    grid-column: 1/4;
    grid-row: 1/3;
    border: 1px solid black;
  }

  .inventoryContainer {
    grid-column: 1/4;
    grid-row: 3/4;
    border: 1px solid black;
  }

  .storyContainer {
    grid-column: 1/4;
    grid-row: 4/6;
    border: 1px solid black;
  }